<div class="actions">
    <a mat-raised-button class="actions-main" color="primary" (click)="fetchPatients()">
        {{ 'stms.patients.get-patients' | translate }}
    </a>

    <a mat-raised-button class="actions-main" color="primary" routerLink="favorites">
        {{ 'Favorites' | translate }}
    </a>
</div>
<div class="patients">
    <st-table
            entityId="defaultId"
            [columns]="columns"
            [data]="patients$ | async"
            (search)="onSearch($event)"
            (toggleFavorites)="onToggleFavorite($event)"></st-table>
</div>
